# INQ source and local heavy dependencies
inq/
angelo-jellium/
venv/
ParaView-6.1.0-MPI-Linux-Python3.12-x86_64.tar.gz

# Build folders
build/
**/build/
cmake-build-*/

# Python cache
__pycache__/
*.pyc
*.pyo

# Compiled outputs
*.o
*.obj
*.so
*.a
*.out
*.exe

# Simulation outputs
results/
**/results/
*.raw
*.vti
*.vtk
*.vtu
*.vtp
*.npy
*.npz
*.h5
*.hdf5

# Large rendered/media
*.png
*.pdf

# Editor/system noise
.DS_Store
*.swp
*.swo

# nvim and other
nvim
.*

# Remove executales
run
run_convergence
gaussian_wave_packet
n2
unit-cells
HF-laser-pertubation
HF-toy-model
HF
h2
ions
li_bcc
Si

